/* Colors from Nento */


@font-face {
    font-family: 'Product Sans Regular';
    src: url('./assets/fonts/Product Sans Regular.ttf');
}
@font-face {
    font-family: 'Product Sans Bold';
    src: url('./assets/fonts/Product Sans Bold.ttf');
}
@font-face {
    font-family: 'Product Sans Bold Italic';
    src: url('./assets/fonts/Product Sans Bold Italic.ttf');
}

@font-face {
    font-family: 'Product Sans Italic';
    src: url('./assets/fonts/Product Sans Italic.ttf');
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --clr1 : #3cd4a5;
    --clr2 :  #17cbda;
}


body{
    font-family: 'Product Sans Regular' ;
    font-size: 1.2vw;
    font-weight: 300;
}

.header{
    padding-top: 1vw;
    padding-bottom: 0px;
}

.header-logo{
    max-width: 12vw;
    height: auto;
}
.setting img{
    max-width: 4vw;
    height: auto;
}

.content-textual{
    padding: 0;
}
.content-textual .title{
    font-size: 2.5vw;
    font-weight: 500;
    margin-bottom: 0;
}
.content-textual .sub-title{
    font-size: 1.5vw;
    margin-bottom: 0;
}
.main-content{
    height: auto;
}
.main-logo{
    max-width: 13vw;
    height: auto;
    padding: 13vw 0 0 0;
}

.main-logo::before{
    content: "";
    border: 0.25vw solid var(--clr1);
    border-radius:  50%;
    position: absolute;
    width: 15vw;
    height: 15vw;
    transform: translate(-11%,-40%);
    background-color: #fff;
    z-index: -1;
}
.main-logo::after{
    content: "";
    border: 0.25vw solid var(--clr2);
    border-radius: 50%;
    width: 17vw;
    height: 17vw;
    position: absolute;
    transform: translate(-15.6vw, -7vw);
    background-color: #fff;
    z-index: -2;
}
.nav-list{
    position: absolute;
    top: 6.2vw;
    list-style: none;
    width: 100%;
    padding: 0 13vw;
    margin-top: 3vw;
}
.nav-list a{
    color: #000;
    font-size: 1.3vw;
}
.nav-list.right{
    padding-top: 3.5vw;
}
.nav-item {
    margin: 0.8vw 0px;
}

.menu-name{
    border: 0.15vw solid var(--clr2);
    border-radius: 1.2vw;
    height: 3vw;
    width: 15vw;
    text-align: center;
    padding-top: 0.3vw;
}
.nav-item img{
    width: 2.5vw;
}
.nav-item .item-icon{
    border: 0.2vw solid var(--clr1);
    border-radius:  50%;
    width: 6vw;
    height: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.left-item .menu-name{
    transform: translateX(10%);
    z-index: -1;
    margin-bottom: 0;
}
.right-item .menu-name{
    transform: translateX(-10%);
    z-index: -1;
    margin-bottom: 0;
    order: 1;
}
.left-item{
    float: left;
    clear: left;
}
.right-item {
    float: right;
    clear: right;   
}


#icon-1::after{
    content: '';
    /* width: 17vw;
    height: 8vw;
    background-image: url('./assets/icons/line.svg');
    background-repeat: no-repeat;
    background-size: 12vw; */
    position: absolute;
    top:4vw;
    left:5vw;
    z-index: -3;
    height: 5vw;
    width: 11vw;
    border-top: 0.25vw solid var(--clr2);
    border-right: 0.25vw solid  var(--clr2);
    -moz-transform: skew(30deg);
    -webkit-transform: skew(30deg);
    transform: translateX(28vw) translateY(-0.5vw) skew(30deg);
}

#icon-2::after{
    content: '';
    width: 15vw;
    height: 0.2vw;
    background-color: var(--clr2);
    position: absolute;
    top:11vw;
    transform: translateX(9vw);
    z-index: -3;
}

#icon-3::after{
    content: '';
    width: 15vw;
    height: 0.25vw;
    background-color: var(--clr2);
    position: absolute;
    top:19vw;
    transform: translateX(9vw);
    z-index: -3;
}

#icon-4::after{
    content: '';
    /* width: 17vw;
    height: 8vw;
    background-image: url('./assets/icons/line.svg');
    background-repeat: no-repeat;
    background-size: 12vw; */
    position: absolute;
    top:19vw;
    transform: translateX(10vw);
    /* -webkit-transform: translateX(10vw) rotate(180deg) scaleX(-1); */
    z-index: -3;
    height: 5vw;
    width: 11vw;
    border-bottom: 0.25vw solid var(--clr2);
    border-right: 0.25vw solid  var(--clr2);
    -moz-transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    transform: translateX(7.5vw) translateY(3vw) skew(-30deg);

}


#icon-5::after{
    content: '';
    /* width: 17vw;
    height: 8vw;
    background-image: url('./assets/icons/line.svg');
    background-repeat: no-repeat;
    background-size: 12vw; */
    position: absolute;
    top:7vw;
    /* -webkit-transform: translateX(-10vw) rotate(180deg) scaleY(-1) scaleX(1); */
    z-index: -3;
    height: 5vw;
    width: 10vw;
    border-top: 0.25vw solid var(--clr2);
    border-left: 0.25vw solid  var(--clr2);
    -moz-transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    transform: translate(-6vw) skew(-30deg);
}

#icon-6::after{
    content: '';
    width: 15vw;
    height: 0.2vw;
    background-color: var(--clr2);
    position: absolute;
    top:15vw;
    transform: translateX(-8vw);
    z-index: -3;
}

#icon-7::after{
    content: '';
    /* width: 17vw;
    height: 8vw;
    background-image: url('./assets/icons/line.svg');
    background-repeat: no-repeat;
    background-size: 12vw; */
    position: absolute;
    top:15vw;
    /* -webkit-transform: translateX(-9vw) scaleY(-1) scaleX(-1); */
    z-index: -3;
    height: 5vw;
    width: 10vw;
    border-bottom: 0.25vw solid var(--clr2);
    border-left: 0.25vw solid  var(--clr2);
    -moz-transform: skew(30deg);
    -webkit-transform: skew(30deg);
    transform: translateX(-6vw) translateY(2.8vw) skew(30deg);
}


.signin, .signup{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.login.py-2 .header-logo {
    min-width: 30vw;
}


/* responsive */


@media screen and (max-width:900px),
(width: 912px) and (height:1368px) {

    #icon-1::after, #icon-2::after, #icon-3::after,
    #icon-4::after, #icon-5::after ,#icon-6::after, #icon-7::after{
        display: none;
    }       

    .main-content {
        flex-direction: column;
    }
    .nav-list{
        position: static;
    }
    .nav-item {
        float: none;
    }
    .header {
        padding-top: 4vw;
    }
    .header-logo{
        max-width: 40vw;
    }
    .setting img{
        max-width: 10vw;
    }
    .content-textual{
        padding: 0 2vw;
        margin-top: 5vw;
    }
    .content-textual .title{
        font-size: 5vw;
        font-weight: 500;
        margin-bottom: 0;
    }
    .mobile-title{
        margin-top: -10vw;
    }
    .content-textual .sub-title{
        display: none;
    }
    .main-logo{
        max-width: 25vw;
        height: auto;
        padding: 16vw 0 0 0;
    }
    .mobile-logo {
        width: 10vw;
        padding-top: 4vw;
    }

    .mobile-logo::after{
        content: '';
        position: absolute;
        border-radius: 50%;
        width: 16vw;
        height: 16vw;
        transform:translateX(-80%) translateY(-22%);
        border: 0.7vw solid var(--clr1);
    }
    
    .main-logo::before{
        content: "";
        border: 0.4vw solid var(--clr1);
        border-radius:  50%;
        position: absolute;
        width: 32vw;
        height: 32vw;
        transform: translate(-11%,-40%);
        background-color: #fff;
        z-index: -1;
    }
    .main-logo::after{
        content: "";
        border: 0.4vw solid var(--clr2);
        border-radius: 50%;
        width: 38vw;
        height: 38vw;
        position: absolute;
        transform: translate(-83%, -42%);
        background-color: #fff;
        z-index: -2;
    }
    .nav-list{
        position: relative;
        top: 14vw;
        list-style: none;
        width: 100%;
        padding: 0 13vw;
        margin-top: 3vw;
    }
    .nav-list a{
        color: #000;
        font-size: 5vw;
    }
    .nav-list.right{
        padding-top: 0vw;
    }
    
    .nav-item {
        margin: 0.8vw -7px;
    }
    .menu-name{
        border: 0.6vw solid var(--clr2);
        border-radius: 3.5vw;
        height: 10vw;
        width: 60vw;
        text-align: center;
        padding-top: 0.3vw;
    }
    .nav-item img{
        width: 2.5vw;
    }
    .nav-item .item-icon{
        border: 0.6vw solid var(--clr1);
        border-radius:  50%;
        width: 18vw;
        height: 18vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    
    .left-item .menu-name{
        transform: translateX(10%);
        z-index: -1;
        margin-bottom: 0;
    }
    .right-item .menu-name{
        transform: translateX(-10%);
        z-index: -1;
        margin-bottom: 0;
        order: 1;
    }
    .left-item{
        float: left;
        clear: left;
    }
    .right-item {
        float: right;
        clear: right;   
    }

    .item-icon img{
        min-width: 10vw;
    }
    
    #item-2 .menu-name{
        order: 2;
        transform: translateX(-10%);
    }
    #item-4 .menu-name{
        order: 2;
        transform: translateX(-10%);
    }
    #item-5 #icon-5{
        order: 2;
    }

    #item-5 .menu-name{
        transform: translateX(10%);
    }
    #item-6 .menu-name{
        order: 2;
        transform: translateX(-10%);
    }

    #item-7 #icon-7{
        order: 2;
    }

    #item-7 .menu-name{
        transform: translateX(10%);
    }

    .nav-list.left{
        margin-bottom: 0 !important;
    }
    .nav-list.right{
        margin-top: 0%;
    }
}

@media screen and (max-width:320px)  {

    .pr-5, .px-5 {
        padding-left: 12vw!important;
        padding-right: 12vw!important;
    }
    .nav-list{
        padding: 0 14vw;
    }
}

@media screen and (max-width:130px)  {
    .nav-list{
        padding: 0 17vw;
    }
}

@media screen and (max-width:130px)  {
    .nav-list{
        padding: 0 19vw;
    }
}

@media (width:1024px) and (height: 600px),
(width:1280px) and (height: 800px)  {
    .header {
        padding-top: 4vw;
    }
    .nav-list {
       top:15vw;
    }
    .main-logo {
        padding: 14.7vw 0 0 0;
    }
    .content-textual{
        margin-top: 3vw;
    }
}


/* Login Page Styling */

header.login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3vw;
}

.login .header-logo {
    min-width: 13vw;
}

.login.content-textual .title{
    font-size: 2.5vw;
    padding: 0.1vw;
    letter-spacing: 0.1vw;
}
.login.content-textual .sub-title{
    font-size: 1.2vw;
    color: #858585;
    letter-spacing: 0.1vw;
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 2vw;
}

[for="exampleInputEmail1"], [for="exampleInputPassword1"]{
    font-size: 1.1vw;
}
.form-control{
    border-radius: 1.1vw;
    min-height: 3.5vw;
    border: 0.15vw solid var(--clr2);
    padding-left: 3vw;
}

#emailHelp{
    display: none;
}

.form-check-label{
    font-size: 1.2vw;
}

[type="submit"]{
    margin-top: 2vw;
}

.login-form form, .signup-for form{
    width: 30vw;
}
.btn-primary{
    background-color: var(--clr2);
    border-color: var(--clr2);
}
.btn-primary:hover{
    background-color: var(--clr1);
    border-color: var(--clr1);
}

.forgot-password a, .signup-btn a, .signin-btn a, .links a{
    color: var(--clr2);
    text-decoration: none;
}

.forgot-password a:hover, .signup-btn a:hover, .signin-btn a:hover, .links a:hover{
    color: var(--clr1); 
    transition: all 0.3s ease-in-out 0s;
}
.links{
    margin-top: 3vw;
    padding-bottom: 1vw;
    text-align: center;
}
.links a{
    color: #858585;
}
.links a:hover{
    color: var(--clr1);
}

.signup-form+ div > .links{
    margin-top: 1.2vw; 
}
.w-70{
    width: 100vw;
}
.links{
    width: 40vw;
}

.checkbox {
    background-color: #921919;
}
input::placeholder {
    font-size: 1.2vw;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--clr1);
    border: 1px solid var(--clr1);
}
.signup-form .btn, .signin .btn{
    font-size: 1.2vw;
}
@media screen and (max-width: 920px){
    form{
        width: 80vw;
    }

    .form-control {
        padding-left: 10vw;
    }
    
    header.login{
        /* padding-top: 18vw; */
    }
    .form-group label {
        font-size: 5vw;
    }

    input{
        min-height: auto;
        padding-top: 7vw;
        padding-bottom: 7vw;
        border-radius:  3.2vw;
    }
    .form-check-label, .forgot-password a{
        font-size: 4vw;
    }
    
    .signup-btn, .signin-btn {
        font-size: 3.5vw;
    }
    .links{
        font-size: 2vw;
        width: 80vw;
        margin-top: 8vw;
    }
    .login.content-textual .sub-title {
        display: block;
    }
    .login.content-textual .title {
        font-size: 6.5vw;
    }
    .login.content-textual .sub-title{
        font-size: 3.5vw;
    }
    .links {
        font-size: 4vw;
        flex-wrap: wrap;
    }
    .links > a {
        margin: 0 auto;
    }
    .links a{
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    input::placeholder {
        font-size: 5vw;
    }
    .signup-form .btn, .signin .btn {
        font-size: 4vw;
    }
    .login.py-2 .header-logo {
        min-width: 70vw;
    }
    .form-control {
        padding-left: 7vw;
    }
    .form-control {
        min-height: 10.5vw;
        border-radius: 3vw;
    }
    .login-form form, .signup-for form {
        width: 100%;
    }
    
}


@media  (width: 820px) and (height: 1180px) {

    header.login {
        padding-top: 9vw;
    }
    .content-textual {
        margin-top: 0vw;
    }
    input::placeholder {
        font-size: 5vw;
    }
    [type="submit"]{
        font-size: 5vw;
    }
}


@media  (width: 768px) and (height: 1024px) {

    header.login {
        padding-top: 4vw;
    }
    .content-textual {
        margin-top: 0vw;
    }
    input::placeholder {
        font-size: 5vw;
    }
    .links {
        margin-top: 5vw;
    }
    .checkbox{
        width: 5vw;
        height: 5vw;
    }
    [type="submit"]{
        font-size: 5vw;
    }
}

@media (min-width: 390px) and (max-height: 900px) {
    .signup-form+ div > .links {
        margin-top: 2.5vw;
    }
}


@media (width: 540px) and (height: 720px) {
    header.login {
        padding-top: 3vw;
    }
    [type="submit"]{
        font-size: 5vw;
    }
    .content-textual {
        margin-top: 0vw;
    }
    .links {
        font-size: 2.5vw;
        margin-top: 4vw;
    }
    .login.content-textual .title {
        font-size: 3.5vw;
    }
    .login.content-textual .sub-title {
        font-size: 3vw;
    }
    .login.py-2 .header-logo {
        min-width: 30vw;
    }
    .form-check-label, .forgot-password a {
        font-size: 3vw;
    }
    .form-group label {
        font-size: 3.5vw;
    }
    .form-group label {
        font-size: 3vw;
    }
    .signup-form+ div > .links {
        margin-top: 1vw;
    }
}

@media (width: 412px) and (height: 915px),
(width: 412px) and (height: 914px)  {
    .signup-form+ div > .links {
        margin-top: 5vw;
    }
    .content-textual {
        padding: 4vw 2vw;
        margin-top: 5vw;
    }
}

@media (width: 375px) and (height: 667px) {
    .login.py-2 .header-logo {
        min-width: 30vw;
    }
}

@media (width:912px) and (height:1368px),
(width: 768px) and (height: 1024px),
(width:  820px) and (height: 1180px){
    [type="submit"]{
        font-size: 4vw;
    }
    header.login {
        padding-top: 7vw;
    }
    .form-group label {
        font-size: 4vw;
    }
    .form-check-label, .forgot-password a {
        font-size: 3.5vw;
    }
    .img-fluid {
        min-width: 50vw;
        height: auto;
    }
    .content-textual {
        padding: 2vw 2vw;
    }
    .login.content-textual .title {
        font-size: 5vw;
    }
    .login.content-textual .sub-title {
        font-size: 3.5vw;
    }
    .signup-form+ div > .links {
        margin-top: 3.2vw;
    }
    .signup-form+ div > .links {
        margin-top: 3.2vw;
    }
    .signup-form+ div > .links > div{
        margin-top: 3.2vw;
    }
    .links > a:first-child{
        width: 100%;
    }
    .links {
        font-size: 3.5vw;
    }
}

@media (width:1024px) and (height: 600px) ,
(width:1280px) and (height: 800px){
    .login .header-logo {
        min-width: 20vw;
    }
    .content-textual {
        width: 100%;
    }
}

@media (width:1280px) and (height: 800px){
    .content-textual {
        margin-top: 0vw;
    }
}



/*  OTP Page */


form.otp-form{
    width: auto;
}
/* .otp-page-form  > div:first-child {
    width: 100%;
    text-align: center;
} */

.digit-group input{
    width: 3.2vw;
    height: 3.2vw;
    background-color: lighten(red, 5%);
    border: none;
    border-bottom: 0.12vw solid #858585;
    text-align: center;
    font-size: 2vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #000000;
    margin: 0 0.2vw;
}
.digit-group input:focus, .digit-group input:focus-visible {
    outline: none;
    border: none;
    border-bottom: 0.15vw solid var(--clr1);
}

.dialpad
{
    margin-top: 1.5vw;
}

.dialpad button{
    border: 0.2vw solid var(--clr2);
    border-radius: 50%;
    margin: 0.2vw 0.5vw;
    font-size: 2vw;
    width: 4vw;
    height: auto;
    aspect-ratio: 1/1;
    min-width: fit-content;
    padding: 0 1.5vw;
}


.btn-icons {
    max-width: 1vw;
}

.close-btn-icon{
    max-width: 1vw;
}
.back-btn-icon{
    max-width: 0.6vw;
}

.btn-circular{
    padding-top: 0;
    font-size: 1.5vw !important;
}
.otp-page-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1vw;
}

.signinbtn{
    font-size: 1.2vw;
}

.otp-page-form .links {
    margin-top: 2vw;
    padding-bottom: 1vw;
    text-align: center;
}

@media (max-width: 900px) {
    .dialpad button {
        border: 0.2vw solid var(--clr2);
        border-radius: 50%;
        margin: 0.2vw 0.5vw;
        font-size: 6vw;
        width: 13vw;
        height: auto;
        aspect-ratio: 1/1;
    }
    .signinbtn{
        font-size: 4vw;
    }
    .btn-circular {
        font-size: 4.5vw !important;
    }
    .back-btn-icon {
        max-width: 1.6vw;
    }
    .close-btn-icon {
        max-width: 2.5vw;
    }
    .otp-form input {
        width: 9.5vw;
        border-radius: 0;
        height: auto;
        font-size: 5vw;
        min-height: auto;
        padding-top: 4vw;
        padding-bottom: 2vw;
    }
}

@media (width: 768px) and (height: 1024px) {
    .otp-form input {
        padding-top: 0vw;
    }
}


@media (width: 820px) and (height: 1180px),
(width: 540px) and (height: 720px)
 {
    .dialpad {
        padding-top: 2vw;
    }
    .dialpad button {
        margin: 0.8vw 0.8vw;
    }
}

@media (width: 375px) and (height: 667px),
(width: 414px) and (height: 896px),
(width: 390px) and (height: 844px),
(width: 393px) and (height: 851px),
(width: 360px) and (height: 740px),
(width: 412px) and (height: 915px) {
    .otp-page-header .header-logo {
        max-width: 60vw;
    }   
    .otp-form{
        margin-top: 5vw !important;
    }
    .otp-form input {
        margin-bottom: 4vw;
    }
    .otp-page-form .links {
        margin-top: 8vw;
    }

    .dialpad{
        margin-bottom: 2vw;
    }
}

@media (width: 768px) and (height: 1024px){
    .otp-page-header .header-logo .img-fluid {
        min-width: 30vw;
    }   

    .dialpad button {
        border: 0.2vw solid var(--clr2);
        border-radius: 50%;
        margin: 0.2vw 0.5vw;
        font-size: 6vw;
        width: 13vw;
        height: auto;
        aspect-ratio: 1/1;
        margin: 1vw;
    }
    .otp-page-header + .content-textual {
        padding: 0vw 2vw;
    }
}

@media (width: 912px) and (height: 1368px){
    .otp-form input {
        padding-top: 2vw;
        padding-bottom: 1vw;
        border-radius: 0;
    }

    .digit-group input {
        width: 8.2vw;
    }

    .dialpad button {
        border: 0.2vw solid var(--clr2);
        border-radius: 50%;
        margin: 0.8vw 0.8vw;
        font-size: 5vw !important;
        width: 11vw;
        height: auto;
        aspect-ratio: 1/1;
    }

    .close-btn-icon {
        max-width: 3.8vw;
    }
    .back-btn-icon {
        max-width: 2.6vw;
    }

}